@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Tirhuta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Tirhuta&family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Tirhuta&family=Roboto+Slab:wght@200&family=Tienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Tirhuta&family=Roboto+Slab:wght@200&family=Tienne&family=Tomorrow&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-navbar {
    font-family: "Noto Sans Tirhuta", sans-serif;
}

.font-engineer {
    font-family: "Roboto Slab", serif;
}

.font-title {
    font-family: "Tienne", serif;
}

.font-description {
    font-family: "Tomorrow", sans-serif;
}

/* Para navegadores basados en WebKit (Google Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de scroll */
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-600; /* Color del pulgar (barra móvil) */
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-[#0E141B]; /* Color del fondo de la barra de scroll */
  }
  
  /* Para Internet Explorer */
  /* Nota: las siguientes reglas no funcionarán en navegadores basados en WebKit */
  ::-ms-scrollbar {
    width: 12px; /* Ancho de la barra de scroll */
  }
  
  ::-ms-scrollbar-thumb {
    background-color: #3498db; /* Color del pulgar (barra móvil) */
  }
  
  ::-ms-scrollbar-track {
    background-color: #f1f1f1; /* Color del fondo de la barra de scroll */
  }

  .desc {
    opacity: 0;
  }

  .card:hover .desc {
    opacity: 1;
    transform: translateY(-20%);
  }

  .card:hover img {
    @apply opacity-65;
  }
  
  @media screen and (max-width: 1024px) {

    .main-menu {
      display: flex;
      flex-direction: column;
      position        : fixed;
      top             : 0;
      left            : 0;
      width           : 100%;
      height          : 100vh;
      @apply bg-[#0E141B];
      @apply z-10;
      transform       : scale(0);
      transition      : transform 0.25s;
      will-change     : transform;
    }
  
  }

  .main-menu.active {
    transform : initial;
  }